body {
  background: #282c34;
}

.node circle {
  stroke: #282c34;
  fill: #fff;
  stroke-width: 0.5px;
}

.node.layer-0 circle {
  fill: #076eb8;
  stroke: #4aa3e2;
  stroke-width: 5px;
}

.node.layer-0.selected circle {
  fill: #1d1d1d;
  stroke: #4aa3e2;
  stroke-width: 5px;
}

.node.layer-1 circle {
  fill: #4aa3e2;
}

.node.selected circle {
  stroke: #1d1d1d;
  fill: #1d1d1d 
}

.hid {
  display: none;
  text-anchor: middle
}

text {
  cursor: pointer;
  pointer-events: none;
  font: 10px sans-serif;
  fill: #fff;
}

.link {
  fill: none;
  stroke: #434956;
  stroke-width: 1px;
}

.link.layer-1 {
  stroke: #4aa3e2;
  stroke-width: 2.5px;
}

.link.selected {
  stroke: #1d1d1d;
  stroke-width: 2.5px;
}

.link-label {
  display: none;
  font: 4px sans-serif;
  fill: #8d8d8d;
}

.same-1,
.same-2,
.same-3,
.same-4,
.same-5{  
  stroke: #fff;
  stroke-width: 2.5px;
}