body {
  background: #2d2d2d;
}

.node circle:hover {
  fill: #4aa3e2 !important;
}

.node circle {
  cursor: pointer;
  stroke: #2d2d2d;
  fill: #fff;
  stroke-width: 0.5px;
}

.node.layer-0 circle {
  stroke-width: 10px;
  stroke: #4aa3e2;
}

.node.layer-1 circle {
  fill: #4aa3e2;
}

.hid {
  display: none;
}

.info {
  fill: #1d1d1d;
}

.node text {
  cursor: pointer;
  pointer-events: none;
  font: 10px sans-serif;
  fill: #fff;
}

.link {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 1px;
}

.link-label {
  //display: none;
  font: 8px sans-serif;
  fill: #8d8d8d;
}